.rodape {
    display: flex;
    background-color: #757373;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.25em;
    padding: 1em;
}

.rodape-contato {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;    
}